body{
    background-color: darkslategray;
}
.nav-icon {
    width: 23px;
    height: 18px;
    position: absolute;    
    transform: rotate(0deg);     
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: 7px;
}
.page-menu {
    display:block;
    
    text-align: center;
}

.page-menu li {
    line-height: 50px;
    margin-left: -25px;
    list-style: none;
}

.page-menu li:last-child {
    line-height: 90px;
}

.page-menu li a {
    color: #fff;
    font-size: 26px;
    position: relative;
    font-weight: 500;
    list-style: none;
     
}

.social img {
    width: 15px;
}

.main .social {
    margin-top: 30px;
}

.social a {
    margin-right: 20px;
}

.social a:hover img {
    opacity: .6;
    transition: all ease 0.3s;
}

.social a:last-child {
    margin-right: 0px;
}

 
 

