@import '../../utils/css/mixins/screens.scss';
@import '../../utils/css/mixins/colors.scss';
$paneHeight: 77vh;
.content {
 
  .leftpane {
    height: $paneHeight;
    max-width: 30%;
    background-color: $jiveGray;
    color: $jiveBlue;
    flex: 1;
    
  }
  .middlepane{
    background-color: $jiveGray;
    height: $paneHeight;
    max-width: 50%;
    text-align: left;
    font-family: cursive;
    flex: 1;
    color: black;
   
    
  }
  .middleBody{
    padding-top: 2vh;
  }
  .rightpane {
    background-color: $jiveGray;
    height: $paneHeight;
    max-width:25%;
    font-size: 14;
    font-family: cursive;
    flex: 1;
   
    
  }
  .rightBody{
    padding-top: 2vh;
  }
  
}
