@import './mixins.scss';
$maxWidth: 100%;
html,
body {
  height: 100%;
  margin: 0;
}
.content {
  display: flex;
  width: $maxWidth;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-family: "DinRegular","Arial",Helvetica,sans-serif;
}