@import '../../utils/css/mixins/screens.scss';
@import '../../utils/css/mixins/colors.scss';
$paneHeight: 100vh;
.content {
 
  .leftpane {
    height: $paneHeight;
    max-width: 200vh;
    background-color: $jiveGray;
    color: $jiveBlue;
    flex: 1;
    padding-top: 10vh;
  }

  .rightpane {
    background-color: $jiveGray;
    height: $paneHeight;
    color: $jiveBlue;
    flex: 1;
    padding-top: 10vh;

    .buttonsContainer {
      input {
        width: 60%;
        height: 2em;
        margin: {
          bottom: 1em;
        }
        padding: {
          left: 2em;
          right: 2em;
        }
        border-radius: 3em;
      }
    }
  }
  
}
