@import '../../utils/css/mixins/screens.scss';
@import '../../utils/css/mixins/colors.scss';
.content {
  background-color: $jiveBlue;
  height: 6.1vh;
  color: $jiveWhite;
  bottom: 0vh;
  padding-top: 4vh;
}
