@import '../../utils/css/mixins/screens.scss';
@import '../../utils/css/mixins/colors.scss';
$paneHeight: 100vh;
.content {
  .leftpane {
    height: $paneHeight;
    background-color: $nilBlue;
    flex: 1;
  }

  .rightpane {
    background-color: $nilWhite;
    height: $paneHeight;
    flex: 2;

    .buttonsContainer {
      input {
        width: 60%;
        height: 2em;
        margin: {
          bottom: 1em;
        }
        padding: {
          left: 2em;
          right: 2em;
        }
        border-radius: 3em;
      }
    }
  }
}
